<!DOCTYPE html>
<html>
<head>
    <title>Editar Registro de Clientes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .formulario{
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    
    <div class="container border mt-5 shadow-sm d-flex justify-content-center">
        <form method="POST" class="formulario">
            <h3 class="text-center">Editar Registro de Clientes</h3>
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" name="nombre" value="{{ registro[1] }}" required class="form-control"><br>
    
            <label for="whatsapp">Whatsapp:</label><br>
            <input type="text" id="whatsapp" name="whatsapp" value="{{ registro[2] }}" required class="form-control"><br>
    
            <label for="nom_cont">Nombre en contacto:</label><br>
            <input type="text" id="nom_cont" name="nom_cont" value="{{ registro[3] }}" required class="form-control"><br>
    
            <button type="submit" class="btn btn-primary">Guardar Cambios</button><br><br>
            <a href="/registrosclientes">⬅ Volver a la lista</a>
        </form>
    </div>

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
</body>
</html>
