<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Tipo Notificaciones</title>
</head>
<body>
    
    <h1>Agregar Registro de Tipo de Notificaciones</h1>
    <form method="POST">
        <label for="nomtip">Nombre Tipo:</label><br>
        <input type="text" name="nomtip" required><br><br>

        <label for="tiempo">Detalles del tiempo:</label><br>
        <input type="text" id="tiempo" name="tiempo"><br><br>

        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/registrostiponotificaciones">Ver Registros</a>
</body>
</html>