<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Clientes</title>
</head>
<body>
    
    <h1>Agregar Registro de Clientes</h1>
    <form method="POST">
        <label for="NomCliente">Nombre Cliente:</label><br>
        <input type="text" name="NomCliente" required><br><br>
        <label for="phone">Whatsapp:</label><br>
        <input type="tel" id="phone" name="phone" placeholder="51910101010"><br><br>
        <label for="nom_cont">Nombre Contacto:</label><br>
        <input type="text" name="nom_cont" required><br><br>

        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/registrosclientes">Ver Registros</a>
</body>
</html>
