<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Cuentas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        .formulario{
            width: 80%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    
    <div class="container border mt-5 shadow-sm">
        <form method="POST" class="formulario">
            <h3 class="text-center">Agregar Registro de Cuentas</h3>
    
            <label for="plataforma">Plataforma:</label><br>
            <select name="plataforma" id="plataforma" required class="form-select">
                <option value="">-- Selecciona una categoría --</option>
                {% for reg in registros %}
                <option value="{{ reg[0] }}">{{ reg[1] }}</option>
                {% endfor %}
            </select><br>
    
            <label for="ven">Venta:</label><br>
            <select name="ven" id="ven" required class="form-control">
                <option value="">-- Selecciona una venta --</option>
                {% for ven in ventas %}
                <option value="{{ ven[0] }}">{{ ven[0] }}</option>
                {% endfor %}
            </select><br>
    
            <label for="correo">Correo:</label><br>
            <input type="text" name="correo" required class="form-control"><br>
    
            <label for="password">Contraseña:</label><br>
            <input type="text" id="password" name="password" class="form-control"><br>
    
            <label for="perfil">Nombre de perfil:</label><br>
            <input type="text" id="perfil" name="perfil" class="form-control"><br>
    
            <label for="clave">Clave de perfil:</label><br>
            <input type="text" id="clave" name="clave" class="form-control"><br>
    
            <label for="tiempo">Tiempo en días:</label><br>
            <input type="text" id="tiempo" name="tiempo" class="form-control"><br>
    
            <label for="dateinicio">Fecha de Inicio:</label><br>
            <input type="date" name="dateinicio" required class="form-control"><br>
    
            <label for="datefin">Fecha de Culminación:</label><br>
            <input type="date" name="datefin" required class="form-control"><br>
            <button type="submit" class="btn btn-primary">Guardar</button><br><br>
            <a href="/registroscuentas">Ver Registros</a>
        </form>
    </div>
    <br>
    
</body>
</html>
