<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <title>Menú Principal</title>
</head>
<body class="bg-dark">
    <div class="container d-flex justify-content-center align-items-center vh-100" >

        
        <div class=" bg-white p-4 rounded shadow w-100" style="max-width: 600px;">
            <h3 class="text-center">BIENVENIDO {{ usuario['username'] }}</h3>
            <p>Escoge a que sistema de información deseas ingresar.</p>
            
            <div class="row ">
                <div class="col-4">
                    <a href="/tregistrosservicios" class="btn btn-success">Sistema Transporte</a>
                </div>
                <div class="col-4">
                    <a href="/registrosventas" class="btn btn-success">Plataformas Streaming</a>
                </div>
                <div class="col-4">
                    <a href="/lmregistros" class="btn btn-success">Cuentas Personales</a>
                </div>
                
                
            </div>
            <br>
            <div class="d-flex justify-content-center">
                
                <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Cerrar sesión</a>
            </div>
        </div>
    </div>
</body>
</html>