<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reportes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <a href="/reporte_general" class="btn btn-warning">Reporte general</a>
    <a href="/reporte_fechas" class="btn btn-warning">Reporte por fechas</a>
    <a href="" class="btn btn-warning">Reporte por cliente</a>
    <a href="" class="btn btn-warning">Reporte por plataforma</a>

    <h4>Ingresos totales</h4>
    <p>S/. {{ ingresos[0] }} </p>
    <h4>Cobros totales</h4>
    <p>S/. {{ ingresos[1] }} </p>
    <h4>Ganancia Neta</h4>
    <p>S/. {{ ingresos[0] - ingresos[1] }}</p>
    <br><br>

    <a href="{{ url_for('registros') }}">Volver a ventas</a>
</body>
<script>
    // Lista de valores (puedes traerlos desde Flask/Jinja)
    const clientes = [
        {% for c in datos %}
            "{{ c[1] }}",
        {% endfor %}
    ];
    
    const input = document.getElementById("buscador");
    const sugerencias = document.getElementById("sugerencias");
    
    // Evento al escribir
    input.addEventListener("keyup", function() {
        let filtro = this.value.toLowerCase();
        sugerencias.innerHTML = ""; // limpiar
        
        if (filtro.length === 0) return; // si está vacío, no mostrar nada
    
        // filtrar coincidencias
        let resultados = clientes.filter(c => c.toLowerCase().includes(filtro));
    
        // mostrar sugerencias
        resultados.forEach(r => {
            let item = document.createElement("div");
            item.classList.add("list-group-item", "list-group-item-action");
            item.textContent = r;
    
            // cuando haces clic en una sugerencia
            item.addEventListener("click", function() {
                input.value = r; 
                sugerencias.innerHTML = ""; // ocultar lista
            });
    
            sugerencias.appendChild(item);
        });
    });
    </script>
</html>