<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Clientes</title>
</head>
<body>
    
    <h1>Agregar Registro de Clientes</h1>
    <form method="POST">
        <label for="cliente">Nombre Cliente:</label><br>
        <input type="text" name="cliente" required><br><br>
        <label for="phone">Telefono:</label><br>
        <input type="tel" id="phone" name="phone" placeholder="51910101010"><br><br>
        <label for="nomcont">Nombre Contacto:</label><br>
        <input type="text" name="nomcont" ><br><br>

        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/tregistrosclientes">Ver Registros</a>
</body>
</html>