<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Registro de Cobros Pendientes</title>
</head>
<body>
    
    <h1>Agregar Registro de Cobros Pendientes</h1>
    <form method="POST">
        <label for="des">Descripción de Cobros:</label><br>
        <input type="text" name="des" required><br><br>
        <label for="mon">Monto:</label><br>
        <input type="number" name="mon" ><br><br>
        <label for="fece">Fecha Emisión:</label><br>
        <input type="date" id="fece" name="fece"><br><br>
        <label for="fecp">Fecha Cobro:</label><br>
        <input type="date" id="fecp" name="fecp"><br><br>
        

        <button type="submit">Guardar</button>
    </form>
    <br>
    <a href="/tregistroscobros">Ver Registros</a>
</body>
</html>